/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding-top: 80px; /* Asegurarnos que no se encime con el header */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #f5f5f5;
    border-bottom: 3px solid #e5e5e5;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo img {
    width: 40px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.prestamo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff58a8;
    border-radius: 20px;
    padding: 40px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.prestamo-box {
    text-align: center;
    color: #fff;
    width: 100%;
}

.prestamo-box h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-calculate, .btn-submit {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: #6f0bca;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.btn-calculate:hover, .btn-submit:hover {
    background-color: #57099f;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f5f5f5;
    margin-top: 20px;
    font-size: 14px;
}
